body{
    margin: 0%;
    padding: 0%;
    background: black;
}
.container{
    font-family: "Nunito", sans-serif;
    padding: 30px;
    color: #000000;
    font-weight: bold;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-410%, -30%);
    font-size: 40px;
    white-space: nowrap;
}
body {
    margin: 0;
    padding: 0;
    background-color: #000;
}
